.list-cards--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  align-items: flex-start;
  justify-items: center;
  gap: var(--space);
  width: 100%;
}

.list-cards--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space);
}
